*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color:dodgerblue;

}
.list{
    margin-right:50px;
   
}
.logo{
    font-size:25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px 0 0 10px;
}
.list>ul{
    display: flex;
 
}
.list>ul>li{
list-style: none;
border-right: 2px solid white;
padding: 20px 10px 20px 10px;
transition:0.5s;




}
.list>ul>li>a{
    text-decoration: none;
    color: white;
    font-size:24px;
    padding:15px 0 15px 0;
    margin:10px;
 
}
.list>ul>li:first-child{
    border-left: 2px solid white;
}
.list>ul>li:hover{
    background-color:rgb(7, 122, 230);

}
.list>ul>li:hover>a{
    color: gold;
}

/* dropdown start */
.second{
list-style:none;
position: absolute;
margin:20px 0 0 55px;
background-color:green;
text-align: center;
color: white;
font-size: 25px;
opacity:0;
visibility: hidden;
transition: 0.5s;
transform: scaleY(0);
transform-origin: top;
}
.second>li{
    margin:15px;
    border-bottom:2px solid white;
    padding: 7px;
    transition: 0.5s;

}
.list>ul>li:hover>ul{
    opacity:1;
    visibility:visible;
    transform: scaleY(1);
    transform-origin: top;

}

/* 
navber end */

/* Hero area start */
.hero-area{
    background-image:url(cp.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:90vh;
    width: 100%;
    margin-top:-10px;

}
.hero-container{
   text-align: center; 

 padding-top:170px;
   top: 170px;
}
.hero-container h6{
  font-size:15px;
  color: rgb(4, 25, 251);
}
.hero-container h1{
    background-color: dodgerblue;
    width: 250px;
    text-align: center;
    margin:auto;
    color: white;
    padding:8px 0;
    border-radius: 5px;
    margin-top: 6px;
}
.hero-container h5{
    font-size: 14px;
    color: greenyellow;
    margin-top:10px;
}
.hero-container button{
    margin-top: 5px;
    padding: 10px;
    border-radius:25px 7px 25px 7px;
    background-color: rgba(0, 255, 255, 0.589);
    border:2px solid green;
    font-size:20px;
    transition: 1s;
    cursor: pointer;

}
.hero-container button:hover{
    background-color: rgba(0, 255, 255, 0.026);
}
.social-icon {
   
margin-top:5px;

    
}
.social-icon a i{
   
    background-color: blue;
    color: white;
    border: 2px solid white;
    font-size:23px;
    height:40px;
    width: 40px;
    line-height:1.5;
    border-radius:50%; 
    transition: 0.5s;

}
.social-icon a i:hover{
    background-color: rgba(0, 0, 0, 0.024);
    border-color:greenyellow;
    transform: rotate(360deg);

}
/* header end */
/* main start */

.section-1{
display: flex;
justify-content: space-between;
width:950px;

margin:auto;
margin-top:40px;
padding:30px 0;
}
.box-1{
    width:300px;
    text-align: center;
 
    padding:30px 0 30px 0 ;
    transition:0.5s;
}
.box-2{
    width:300px;
    text-align: center;
    padding:30px 0 30px 0 ;
    transition:0.5s;
}
.box-3{
    width:300px;
    text-align: center;
    padding:30px 0 30px 0 ;
    transition:0.5s;
}
.box-1 i{
font-size: x-large;
margin-bottom: 10px;

}
.box-2 i{
    font-size: x-large;
    margin-bottom: 10px;
}
.box-3 i{
        font-size: x-large;
        margin-bottom: 10px;
}
.box-1 h1{
    margin-bottom: 10px;
}
.box-2 h1{
    margin-bottom: 10px;
}
.box-3 h1{
    margin-bottom: 10px;
}
.box-1:hover{
    box-shadow: 3px 3px 9px gray;
}
.box-2:hover{
    box-shadow: 3px 3px 9px gray;
}
.box-3:hover{
    box-shadow: 3px 3px 9px gray;
}
/* section-2 start from here */
.author{
    display: flex;
    width: 1200px;
  
    margin: auto;

}
.author-speach{
    margin-left:15px;
}
.author-speach p{

    width: 700px;
    text-align: justify;
}
.section-2{
    margin-bottom: 1000px;
    margin-top: 30px;
}


.author-speach h5{
font-size: 20px;
margin:80px 0 30px 0;
color:rgb(255, 47, 154);
}
.author-name{
    text-align: center;
    color: darkorange;
}
.author-speach button{
    margin-top: 10px;
    padding: 7px;
    background-color:rgba(255, 4, 54, 0.838) ;
    border-radius:10px;
    color: black;
    font-size: 15px;
    outline: none;
    border-color: blue;
    transition: 0.5s;
    cursor: pointer;

}
.author-speach button:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: greenyellow;
}
/* section-2 complete */
/* section-3 start  */